.marcas {
    overflow: hidden;
}

.wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 15rem;
  
    justify-items: stretch;
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
  to {
    translate: calc(-4 * 15rem);
  }
}